/*  your css code here. If applicable */
#yellow{
	
	border-width:1px;
	width:70%;
	background-color:yellow;
	border-style:solid;
	border-color:green;
}
#red{
	
	border-width:1px;
	width:70%;
	background-color:red;
	border-style:solid;
	border-color:black;
}
#green{
	
	border-width:1px;
	width:70%;
	background-color:green;
	border-style:solid;
	border-color:yellow;
}